- 
    const items = [
        {image: 'c1.jpg', price: '1999', name: 'Жакет 1', label: 'Хит'},
        {image: 'c22.jpg', price: '345', name: 'Жакет 2', label: 'Хит'},
        {image: 'c23.jpg', price: '2329', name: 'Жакет 3', label: 'Хит'},
        {image: 'c24.jpg', price: '2329', name: 'Жакет 4', label: 'Хит'}
        ]

    const tovars = [
        {image: 'c1.jpg', price: '1999', name: 'Жакет 1', label: 'Хит'},
        {image: 'c22.jpg', price: '345', name: 'Жакет 2', label: 'Хит'},
        {image: 'c23.jpg', price: '2329', name: 'Жакет 3', label: 'Хит'},
        {image: 'c24.jpg', price: '2329', name: 'Жакет 4', label: 'Хит'},
        {image: 'c1.jpg', price: '1999', name: 'Жакет 1', label: 'Хит'},
        {image: 'c22.jpg', price: '345', name: 'Жакет 2', label: 'Хит'},
        {image: 'c23.jpg', price: '2329', name: 'Жакет 3', label: 'Хит'},
        {image: 'c24.jpg', price: '2329', name: 'Жакет 4', label: 'Хит'}
        ]

#catalog-items
    .catalog-items.row(data-params='')


        each item in items
            .col-6.col-lg-3
                .catalog-item.w2
                    .catalog-item-photo-holder
                        img.cover(src=`../dummy/catalog/${item.image}`)
                    .catalog-item-title= item.name
                        .catalog-item-color +2 цвета
                    .catalog-item-price
                        b= item.price + ' РУБ'
                    a.catalog-item-link(href='#')
                    button.catalog-item-like(type='button')  

        .col-12
            .catalog-item-text
                .catalog-item-text__title
                    | ПЛАТЬЯ И КОМБИНЕЗОНЫ НОВОГО
                    | СЕЗОНА ДЛЯ ЖЕНЩИН
                .catalog-item-text__lid
                    | Подготовьте свой гардероб к первым дням весны с нашей новой подборкой,
                    | в которую вошли новые модели актуальных оттенков
                a.link-more(href='#') Подробнее

        each tovar in tovars
            .col-6.col-lg-3
                .catalog-item.w2
                    .catalog-item-photo-holder
                        img.cover(src=`../dummy/catalog/${tovar.image}`)
                    .catalog-item-title= tovar.name
                        .catalog-item-color +2 цвета
                    .catalog-item-price
                        b= tovar.price + ' РУБ'
                    a.catalog-item-link(href='#')
                    button.catalog-item-like(type='button')    

    .page-toolbar
        .load-more-holder
            a.btn.btn--black_border.btn--medium.load-more(href='section.html' data-container='#catalog-items' data-itemsselector='#catalog-items .catalog-items') ПОКАЗАТЬ ЕЩЕ 20

